<div class="page-header">
  <h1 class="header-title">
    <% if @building %>
      <%= t('rooms.new_in_building', building: @building.name) %>
    <% else %>
      <%= t('rooms.new') %>
    <% end %>
  </h1>
  <div class="header-actions">
    <% if @building %>
      <%= link_to building_path(@building), class: "btn btn-outline" do %>
        <i class="fas fa-arrow-left"></i> <%= t('common.back') %>
      <% end %>
    <% else %>
      <%= link_to rooms_path, class: "btn btn-outline" do %>
        <i class="fas fa-arrow-left"></i> <%= t('common.back') %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="card">
  <div class="card-header d-flex align-items-center">
    <i class="fas fa-door-open me-2"></i> <%= t('rooms.room_details') %>
  </div>
  <div class="card-body">
    <%= render 'form', room: @room %>
  </div>
</div>
